.u-section-1 .u-sheet-1 {
  min-height: 951px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-list-1 {
  width: 648px;
  min-height: 152px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin: -15px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 33px;
  width: 33px;
  margin: -23px auto 0 44px;
}

.u-section-1 .u-text-2 {
  margin: -33px 28px 0 86px;
}

.u-section-1 .u-icon-2 {
  height: 33px;
  width: 33px;
  margin: -53px auto 0 44px;
}

.u-section-1 .u-text-3 {
  margin: -20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 344px;
  margin: 2px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 155px;
    margin-bottom: -2px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 130px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 326px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 205px;
    margin-top: 104px;
    margin-left: 400px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1560px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 508px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: auto;
  grid-gap: 0px 0px;
  margin: -904px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 95px 0 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 95px 0 0;
}

.u-section-2 .u-line-2 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 95px 0 0;
}

.u-section-2 .u-line-3 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-list-2 {
  min-height: 571px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: auto;
  grid-gap: 0px 0px;
  margin: 133px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 95px 0 0;
}

.u-section-2 .u-line-4 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 95px 0 0;
}

.u-section-2 .u-line-5 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 95px 0 0;
}

.u-section-2 .u-line-6 {
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-text-14 {
  margin: -610px -30px 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1371px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-list-1 {
    min-height: 419px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
    margin-top: -353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    min-height: 471px;
    grid-template-columns: repeat(3, 33.333333333333336%);
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2526px;
  }

  .u-section-2 .u-list-1 {
    min-height: 963px;
    grid-template-columns: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    margin-top: 170px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-2 {
    min-height: 1082px;
    grid-template-columns: repeat(2, 50%);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 347px;
    margin-top: 118px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-2 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 588px;
}

.u-section-3 .u-text-1 {
  margin: 9px 467px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 235px 0;
}

.u-section-3 .u-list-1 {
  min-height: 388px;
  grid-template-columns: repeat(3, calc(33.3333% - 7px));
  grid-gap: 10px;
  margin: 46px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 367px;
    margin-right: 367px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-3 .u-list-1 {
    min-height: 320px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 257px;
    margin-right: 257px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-list-1 {
    min-height: 735px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 167px;
    margin-right: 167px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 213px;
}

.u-section-4 .u-list-1 {
  min-height: 143px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin-bottom: 20px;
  margin-top: 50px;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: -130px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 31px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 847px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}